<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:unless="${botForm.id}">Spring Chat ボット新規登録</title>
<title th:if="${botForm.id}">Spring Chat ボット更新</title>
<link rel="stylesheet" href="../../resources/css/style.css"
    th:href="@{/resources/css/style.css}">
</head>
<body>
    <div class="boxContainer">
        <!-- ロゴ -->
        <a href="../chat/index.html" th:href="@{/chat/index}"  class="box">
            <img src="../../resources/image/logo.png" alt="ロゴ" th:attr="src=@{/resources/image/logo.png},title=#{ロゴ},alt=#{ロゴ}" width="250">
        </a>
        
        <!-- ナビゲーション -->
        <a href="../chat/index.html" th:href="@{/chat/index}"  class="box button1">チャット</a>
        <a href="../bot/index.html" th:href="@{/bot/index}"  class="box button1">チャットボット管理</a>
    </div>

    <h1 th:unless="${botForm.id}">質問＆回答新規登録</h1>
    <h1 th:if="${botForm.id}">質問＆回答更新</h1>

    <!-- 質問と回答 -->
    <form method="post" action="index.html" th:action="@{complete}" th:object="${botForm}">
        <table class="chat-table">
            <tr>
                <th th:if="*{id}">ID</th>
                <th>質問</th>
                <th>回答</th>
            </tr>
            <tr>
                <td class="list-id" th:if="*{id}" th:text="*{id}">001</td>
                <td class="list-q"><input type="text" value="こんにちは" th:field="*{question}" class="chat-input" /></td>
                <td class="list-q"><input type="text" value="こんにちは、ボットです！" th:field="*{answer}" class="chat-input" /></td>
            </tr>
        </table>

        <div th:if="${#fields.hasErrors('question')}" th:errors="*{question}" class="error">ダミーのエラーメッセージ</div>
        <div th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}" class="error">ダミーのエラーメッセージ</div>

        <input th:unless="*{id}" type="submit" name="insert" value="登録" class="square_btn">
        <input th:if="*{id}" type="hidden" th:field="*{id}" />
        <input th:if="*{id}" type="submit" name="update" value="更新" class="square_btn">
        <input th:if="*{id}" type="submit" name="delete" value="削除" class="square_btn">
    </form>

</body>
</html>