<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Chat ボット管理</title>
<!-- (1)th:href -->
<link rel="stylesheet" href="../../resources/css/style.css"
    th:href="@{/resources/css/style.css}">
</head>
<body>
    <div class="boxContainer">
        <!-- ロゴ -->
        <a href="../chat/index.html" th:href="@{/chat/index}"  class="box">
            <!-- (2)th:attr -->
            <img src="../../resources/image/logo.png" alt="ロゴ" th:attr="src=@{/resources/image/logo.png},title=#{ロゴ},alt=#{ロゴ}" width="250">
        </a>
        
        <!-- ナビゲーション -->
        <a href="../chat/index.html" th:href="@{/chat/index}"  class="box button1">チャット</a>
        <div class="box button_disabled">チャットボット管理</div>
    </div>

    <h1>チャットボット管理</h1>

    <!-- 質問と回答のリスト -->
    <table class="chat-table">
        <tr>
            <th>ID</th>
            <th>質問</th>
            <th>回答</th>
            <th>修正</th>
        </tr>
        <!-- (3)th:each, (4)th:object -->
        <tr th:each="botQa : ${botQaList}" th:object="${botQa}">
            <td th:text="*{id}" class="list-id">001</td>
            <td th:text="*{question}" class="list-q">こんにちは</td>
            <td th:text="*{answer}" class="list-a">こんにちは、ボットです！</td>
            <td><a href="edit.html" th:href="@{edit(id=*{id})}" class="square_btn">修正</a></td>
        </tr>
    </table>
   	<a href="edit.html" th:href="@{edit}" class="square_btn">新規</a>
</body>
</html>