<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Chat ボット管理</title>
<link rel="stylesheet" href="../../../resources/css/style.css"
    th:href="@{/resources/css/style.css}">
</head>
<body>
    <div class="boxContainer">
        <!-- ロゴ -->
        <a href="../chat/index.html" th:href="@{/chat/index}"  class="box">
            <img src="../../../resources/image/logo.png" alt="ロゴ" th:attr="src=@{/resources/image/logo.png},title=#{ロゴ},alt=#{ロゴ}" width="250">
        </a>
        
        <!-- ナビゲーション -->
        <a href="../chat/index.html" th:href="@{/chat/index}"  class="box button1">チャット</a>
        <div class="box button_disabled">チャットボット管理</div>
    </div>

    <h2>チャットボット管理</h2>

    <!-- ナビゲーション -->
    <a href="/chat/index.html" th:href="@{/chat/index}">チャットへ</a>

    <!-- 質問と回答のリスト -->
    <table border="1">
        <tr>
            <th>ID</th>
            <th>質問</th>
            <th>回答</th>
            <th>修正</th>
        </tr>
        <tr th:each="botQa : ${botQaList}" th:object="${botQa}">
            <td th:text="*{id}"></td>
            <td th:text="*{question}"></td>
            <td th:text="*{answer}"></td>
            <td><a href="edit.html" th:href="@{edit(id=*{id})}">修正</a></td>
        </tr>
    </table>
    <a href="edit.html" th:href="@{edit}">新規</a>

</body>
</html>