<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Chat チャット</title>
<link rel="stylesheet" href="../../../resources/css/style.css" th:href="@{/resources/css/style.css}">
</head>
<body>
    <div class="boxContainer">
        <!-- ロゴ -->
        <a href="../chat/index.html" th:href="@{/chat/index}"  class="box">
            <img src="../../../resources/image/logo.png" alt="ロゴ" th:attr="src=@{/resources/image/logo.png},title=#{ロゴ},alt=#{ロゴ}" width="250">
        </a>
        
        <!-- ナビゲーション -->
        <div  class="box button_disabled">チャット</div>
        <a href="../bot/index.html" th:href="@{/bot/index}"  class="box button1">チャットボット管理</a>
    </div>
    
    <h1>チャット</h1>
    
    <!-- チャットのリスト -->
    <div><!-- 【TODO】th:each属性, th:object属性を書きましょう -->
        <!-- 質問 -->
        <div class="chat-box">
            <div class="chat-face">
                <img src="../../../resources/image/panda.jpg"  alt="自分" th:attr="src=@{/resources/image/panda.jpg},title=#{自分},alt=#{自分}">
            </div>
            <div class="chat-area">
                <div class="chat-hukidashi">ダミーの質問</div><!-- 【TODO】th:text属性を書きましょう -->
                <p class="chat-who-is chat-you">YOU</p>
            </div>
        </div>
        <!-- 回答-->
        <div class="chat-box">
            <div class="chat-face">
                <img src="../../../resources/image/kopanda.jpg"  alt="相手" th:attr="src=@{/resources/image/kopanda.jpg},title=#{相手},alt=#{相手}">
            </div>
            <div class="chat-area">
                <div class="chat-hukidashi someone">ダミーの回答</div><!-- 【TODO】th:text属性を書きましょう -->
                <p class="chat-who-is chat-opponent">BOT</p>
            </div>
        </div>
    </div>
    
    <!-- 質問の送信 -->
    <form method="POST" action="index.html" th:action="@{ask}" th:object="${chatForm}">
        <div><input type="text" id="question" name="question" th:field="*{question}" placeholder="質問を入力してください。" class="chat-input"></div>
        <div class="error"></div>
        <input type="submit" value="送信" class="square_btn">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script>
    $(function(){
        $('html, body').animate({scrollTop: $(document).height()} ,0);
    });
    </script>

</body>
</html>