<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>チャット</title>
<link rel="stylesheet" href="../../../resources/css/style.css"
	th:href="@{/resources/css/style.css}">
</head>
<body>
	<h1>チャット</h1>
	
	<!-- ナビゲーション -->
	<a href="../bot/index.html" th:href="@{/bot/index}">ボット管理へ</a>
	
	<!-- チャットのリスト -->
	<div th:each="chat : ${chatList}" th:object="${chat}">
		<p th:text="*{question}">質問</p>
		<p th:text="*{answer}">回答</p>
		<hr>
	</div>
	<!--/*-->
	<div>
		<p>質問A</p>
		<p>回答A</p>
	</div>
	<div>
		<p>質問B</p>
		<p>回答B</p>
	</div>
	<!--*/-->
	
	<!-- 質問の送信 -->
	<form method="post" action="index.html" th:action="@{complete}">
		<input type="text" id="question" name="question" value="" placeholder="質問を入力してください。">
		<input type="submit" value="送信">
    </form>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
	<script>
	$(function(){
		$('html, body').animate({scrollTop: $(document).height()} ,0);
	});
	</script>

</body>
</html>