body {
  background: linear-gradient(90deg, #FFFFFF, #E6F8E0);
}

/** ヘッダー */
.boxContainer {
    overflow: hidden;
}

.box {
    float: left;
}

.button1 {
    background-color: #5FB404;
    color: #ffffff;
    border: 0;
    margin: 20px 10px 0 10px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    
}

.button_disabled {
    background-color: #848484;
    color: #ffffff;
    border: 0;
    margin: 20px 10px 0 10px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
}

/** 共通部品  */
.error {
	color : red;
}

.chat-input {
	border:0;
	padding:10px;
	font-family:Arial, sans-serif;
	font-size:15px;
	border:solid 1px #ccc;
	margin:0 0 10px;
	width:500px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

.square_btn{
    display: inline-block;
    padding: 5px 20px;
    margin:10px 0;
    text-decoration: none;
    background: #5FB404;
    color: #FFF;
    border-bottom: solid 4px #21610B;
    border-radius: 3px;
}

.square_btn:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

h1 {
	color: #5FB404;
	padding: 10px;
	border-top: solid 3px #5FB404;
	border-bottom: solid 3px #5FB404;
	font-size: 20px;
}

/* チャット画面 */
.chat-box {
    width: 100%;
    height: auto;
    overflow: hidden; /*floatの解除*/
    margin-bottom: 20px;
}
.chat-face {
    float: left;
    margin-right: -120px;
}
.chat-face img{
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ddd;
}
.chat-area {
    width: 100%;
    float: right;
}
.chat-hukidashi {
    display: inline-block; /*コメントの文字数に合わせて可変*/
    padding: 15px 20px;
    margin-left: 120px;
    margin-top: 8px;
    /* border: 1px solid gray; ←削除 */
    border-radius: 10px;
    position: relative; /*追記*/
    background-color: #D9F0FF; /*追記*/
}
.chat-hukidashi:after {
    content: "";
    position: absolute;
    top: 50%; left: -10px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #D9F0FF transparent transparent;
}
.someone {
    background-color: #BCF5A9;
}
.someone:after {
    border-color: transparent #BCF5A9 transparent transparent;
}


/** テーブル */

table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

table.chat-table {
	margin:10px 0;
}

table.chat-table th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #5FB404;
  color: #ffffff;
}

table.chat-table td {
  padding: 10px;
  vertical-align: top;
}

table.chat-table td.list-q, td.list-a {
	width: 350px;
}

table.chat-table td.list-id {
	font-weight: bold; 
}

table.chat-table tr:nth-child(odd) {
  background: #ffffff;
}

table.chat-table tr:nth-child(even) {
  background: #BCF5A9;
}
